.navbar {
    width: calc(85%);
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 24px;
    /* background-color: rgba(0, 0, 0, 0.214); */
    position: fixed;
    background-color: #fff;
    background-color: rgba(43, 42, 42, 0.746);
    /* filter: blur(1px); */
    border-bottom: 0.5px solid #2b1f2b;
    box-sizing: border-box;
    top: 0;
    right: 0;
    z-index: 10;
  }
  .social-icons {
    gap: 24px;
    display: flex;
    margin-right: 48px;
  }
  .social-icons .img {
    width: 3rem;
    height: 3rem;
  
    border-radius: 50%;
  }
  .social-icons .img:hover {
    scale: 1.3;
  }
  .logo_container {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    position: absolute;
    top: 1%;
  }
  .logo {
    width: 60px;
    height: 60px;
  }
  .logo_container h1 {
    color: #fff;
  }
  .cicca-button {
    padding: 8px 16px;
    /* background: transparent; */
    border-radius: 8px;
    border: 0.5px solid black;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  .cicca-button :hover {
    scale: 1.3;
  }
  .mobile_logo {
    display: none;
  }
  .hamburger{
      display: none;
  }
  @media screen and (max-width: 1240px) {
    .navbar {
      width: 100%;
    }
    .social-icons {
      display: none;
    }
    .mobile_logo {
      display: block;
      width: 40px;
      height: 40px;
      margin-top: 10px;
      position: relative;
    }
   
  }
  @media screen and (max-width: 900px){
      .hamburger{
          display: block;
          position: relative;
          right: 0%;
         
        }
        .hamburger img{
          width: 40px;
          height: 40px;
        }
        .menu{
          width: 90vw;
          height: auto;
          background-color: #000000;
          z-index: 99;
         
          top: 40px;
          right: 0;
          position: absolute;
          border-radius: 16px;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          color: #fff;
          gap: 24px;
          padding: 16px;
          font-size: 20px;
      }
      .menu_each{
          width: 100%;
          border-radius: 16px;
          padding: 8px;
  
      }
      .menu_each:hover{
          background: #ffffff7c;
      }
      .social_icons_mobile {
          gap: 30px;
          display: flex;
          justify-content: center;
        }
        .social-icons_mobile .img {
          width: 50px;
          height: 50px;
        
          border-radius: 50%;
        }
        .social-icons_mobile .img:hover {
          scale: 1.3;
        }
  }
  
  