.App {
  text-align: center;
  position: relative;
  
  background: linear-gradient(rgba(33, 33, 33, 0.742), rgba(11, 11, 11, 0.706)),
  url('./images/2.png');
  width: 100vw;
  /* background: radial-gradient(34.93% 34.93% at 50% 50%, #391946 0%, rgba(82, 37, 100, 0) 100%) warning: gradient uses a rotation that is not supported by CSS and may not behave as expected; */

  /* background: #100B2D; */

  overflow-x: hidden;
  /* display: flex;
  justify-content: center; */
  /* background-color: #2a2b3d;
  background-color: #23212d;; */
  /* #23212d; */
  height: 100vh;
  overflow-y: auto;
  
}
.copyright{
  color: #f8f8f8;
}
/* .bg{
  background-image: url("./images/2.png");
  position: fixed;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  z-index: -1;
  filter: brightness(15%);
} */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.connect_app{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
}
